.App {
  text-align: center;
  overflow-y: hidden;
}
.App-header {
  color: white;
  background-color: rgb(6,6,15);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}
.pizza-icon{
  height: 260px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.bg{
  transform-origin: center center !important;
}
.slice{
  transform-origin: 30% 100% !important;
}
h1{
  margin:0;
  font-size: 3em;
}

.App-link {
  border-radius: 5px;
  direction: rtl;
  padding: 5px; 
  margin-top:10px;
  overflow: hidden;
  background: white;
  transition: .2s;
  border: inset 2px;
  border-color:  #aaa;
}
.App-link:hover{
  padding:3px;
  transform: scale(1.2);
  border-color: #ddd;
  border-width: 3px;
}
.App-link img{
  height:30px;
  width:30px;
}